.auth__link {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}
