.auth__save-button {
  width: 260px;
  height: 46px;
  margin-top: 173px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (min-width: 768px) {
  .auth__save-button {
    width: 358px;
    height: 50px;
    margin-top: 216px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}
