.form__save-button_inactive {
    background-color: transparent;
    color: #000000;
    opacity: 0.2;
    border: 1px solid #000000;
}

.form__save-button_inactive:hover {
    opacity: 0.2;
    cursor: default;
}